# Arquivos do ambiente virtual
venv/
.env

# Configurações do sistema operacional
.DS_Store
Thumbs.db

# Arquivos de compilação Python
*.pyc
*.pyo
__pycache__/

# Logs e informações temporárias
*.log
*.sqlite3

# Configurações específicas de IDEs
.vscode/
.idea/

# Outras pastas/arquivos sensíveis
*.key
*.pem